html {
  height: 100%;
}

body {
  text-align: center;
  background-color: #202124;
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a0/Cloudy_weather_with_mixed_natural_colors.jpg"); */
  background-position: center;
  background-repeat: "false";
  padding-top: 10%;
  height: 100%;
  color: #e8eaed;
}

.weather-table {
  padding: 10px;
  width: 100%;
  max-width: 800px;
}
.app {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.weather-cards {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: stretch;
  flex-wrap: wrap;
}
